$color: steelblue;

.my-flix {
  color: $color;
}

Button {
  color: black;
  background-color: Orange;
}

$primary: Darkorange;
$body-bg: Powderblue;

div {
  margin-bottom: 5px; 
}

@import '~bootstrap/scss/bootstrap.scss';

